<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<link rel="stylesheet" href="/css/main.css">
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contactus">contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/success" method="POST">
        <h1>Enter Your Details</h1>
        <label for="NAME">Name:</label>
        <input type="text" name="NAME" required>
        <label for="EMAIL">Email:</label>
        <input type="email" name="EMAIL" required>
        <button type="submit">Send</button>
        </form>
        
    </main>
    
</body>
</html>